@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@200;300;400;500;600;800&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a0a0a0;
}

body > * {
  font-family: "Poppins";
}

.App {
  /* text-align: center; */
  padding: 1rem;
  max-width: 700px;
  margin: auto;
}

main {
  padding: 3rem;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  /* background: linear-gradient(to right, rgb(13, 27, 96), rgb(103, 166, 249)); */
}

/* main > * {
  margin-left: 1rem;
  margin-right: 1rem;
} */

ul div {
  /* opacity: 0; */
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  position: relative;
}

.fade-up {
  opacity: 1;
}

h3 {
  margin-bottom: 1rem;
}

h1,
h3,
h2,
p {
  color: #181818;
  font-weight: 300;
}

h1 {
  margin-bottom: 2rem;
  font-weight: 700;
}

li {
  /* padding: 2em; */
  list-style-type: none;
  font-size: 1.2rem;
  min-width: 8rem;
}

li p {
  color: #000;
}

input,
select {
  border-radius: 0.7rem;
}

input {
  padding: 1em;
  border: none;
  font-size: 1rem;
}

select {
  padding: 1em 2em;
  appearance: none;
  /* border: 2px solid #e2e2e2;
  background-color: rgba(0, 0, 0, 0);
  color: #e9f8ff; */
}

select:focus {
  outline: 0;
}

.sort-panel select,
.AddPlayerForm input {
  flex: 2 1 0;
  /* padding: 1em; */
  /* border-radius: 0.4rem; */
  font-weight: 600;
}

.AddPlayerForm {
  border-radius: 1rem;
  background-color: #e1e7f1;
  padding: 1.5rem;
}

/* .AddPlayerForm input {
  flex: 2 1 0;
  padding: 1em;
  border-radius: 0.4rem;
} */

.shadow-default {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
}

.shadow-dark {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.button-close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -1rem;
  top: -0.5rem;
  border-radius: 50%;
  background-color: #dae7ec;
  color: var(--color-secondary-label);
  font-size: 1rem;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-out;
  color: #000;
  /* padding: 8px 12px; */
  line-height: 2;
  padding: 0px;
  text-align: center;
}

.my-node-enter,
.appear-enter {
  opacity: 0;
}
.my-node-enter-active,
.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit,
.appear--exit {
  opacity: 1;
}
.my-node-exit-active,
.appear-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
